<style>
    .columns-right{display: none;}
</style>

<div class="panel panel-default panel-intro">
    
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="col-lg-8">
                            <div id="line-chart" class="btn-refresh" style="height:300px;width:100%;"></div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="col-lg-8">
                            <div id="line-chart2" class="btn-refresh" style="height:300px;width:100%;"></div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="col-lg-8">
                            <div id="line-chart3" class="btn-refresh" style="height:300px;width:100%;"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
