<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<div class="panel panel-default">
    <div class="panel-heading">用户搜索</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="input-group">
                    <input name="userid" type="text" class="form-control" placeholder="请输入用户ID">
                    <span class="input-group-btn">
                      <button class="btn btn-info btn-usersearch" type="button" disabled="disabled" act="userid">按用户ID搜索</button>
                    </span>
                  </div>
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-4">
                <div class="input-group">
                    <input name="username" type="text" class="form-control" placeholder="请输入用户名">
                    <span class="input-group-btn">
                      <button class="btn btn-info btn-usersearch" type="button" disabled="disabled" act="username">按用户名搜索</button>
                    </span>
                </div>
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-4">
                <div class="input-group">
                    <input name="deviceid" type="text" class="form-control" placeholder="请输入设备标识">
                    <span class="input-group-btn">
                      <button class="btn btn-info btn-usersearch" type="button" disabled="disabled" act="deviceid">按设备标识搜索</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
