<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <input type="hidden" name="row[id]" value="{$row.id}">
    
    <div class="form-group">
        <label for="c-username" class="control-label col-xs-12 col-sm-2">ID:</label>
        <div class="col-xs-12 col-sm-4">
            <p class="form-control-static">{$row.id}</p>
        </div>
    </div>
    <div class="form-group">
        <label for="c-username" class="control-label col-xs-12 col-sm-2">{:__('Username')}:</label>
        <div class="col-xs-12 col-sm-4">
            <p class="form-control-static">{$row.username}</p>
        </div>
    </div>
    <div class="form-group">
        <label for="c-password" class="control-label col-xs-12 col-sm-2">新密码:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-password" data-rule="required" class="form-control" name="row[password]" type="password" value="" placeholder="请输入新密码" autocomplete="new-password" />
        </div>
    </div>
    
    
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
